/* You can add global styles to this file, and also import other style files */
body {
	background: #f9;
    padding: 30px 0;
}

.nav-link {
	border-bottom: 1px solid #fff;
	transition: all 0.45s;
}

.active {
	border-color: hsl(115 50 50);
	color: hsl(115 50 50);
}

.block {
	margin: 0 20px;
}

.ml-5 {
	margin-left: 5px;
}

ul.nav {
	margin-bottom: 5px;
}

.flex {
	display: flex;

	&.between {
		justify-content: space-between;
	}

	&.middle {
		align-items: center;
	}

	&.center {
		justify-content: center;
	}
}